{% load tagging_tags i18n %}
{% comment %}{% load comments %}{% endcomment %}

<div class="entryHeader last">
  <h2 class="entryTitle">
    <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">
      {{ object.title }}
    </a>
  </h2>
  <p class="entryInfo">
    by
		{% for author in object.authors.all %}
    	<a href="{% url zinnia_author_detail author %}" title="{% blocktrans with author.get_full_name as author.get_full_name %}Show {{ author.get_full_name }} entries{% endblocktrans %}"><strong>{{ author.get_full_name }}</strong></a>
			{% if not forloop.last %}, {% endif %}
    {% endfor %}
    on {{ object.creation_date|date:"F d Y"|capfirst }}
  </p>
</div>

<div class="entryBody last">
  {% if object.image %}
  <div class="entryImage">
    <p>
      <a href="{{ object.get_absolute_url }}">
	<img src="{{ object.image.url }}" alt="{{ object.title }}" class="left" />
      </a>
    </p>
  </div>
  {% endif %}
  <div class="entryContent">
    {{ object_content }}
  </div>
</div>

<div class="entryFooter">
  <p class="entryTags last">
    Topics:
    {% tags_for_object object as tag_list %}
    {% for tag in tag_list %}
    <a href="{% url zinnia_tag_detail tag.name %}" title="Tag {{ tag }}">{{ tag }}</a>
    {% empty %}
    <span>{% trans "No tags" %}</span>
    {% endfor %}
  </p>

  <p class="entryComments last">
    <img src="/media/img/comments.png">
		{% with object.comments.count as comment_count %}
    {% if comment_count %}
    <a href="{{ object.get_absolute_url }}#comments" title="{{ object.title }}">
      {{ comment_count }} comment{{comment_count|pluralize }}
    </a>
    {% else %}
      {% if object.comment_enabled %}
      	<a href="{{ object.get_absolute_url }}#comments" title="{{ object.title }}">
	  			No comments yet.
    		</a>
      {% else %}
      {% trans "Comments are closed." %}
      {% endif %}
    {% endif %}
    {% endwith %}
  </p>
</div>


