{% load tagging_tags i18n %}
{% comment %}{% load comments %}{% endcomment %}

<div class="entryHeader last">
  <h2 class="entryTitle">
    <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">
      {{ object.title }}
    </a>
  </h2>
  <p class="entryInfo">
    by
    {% for author in object.authors.all %}
      <a href="{% url author-detail author %}" title="{% blocktrans with author.get_full_name as author.get_full_name %}Show {{ author.get_full_name }} entries{% endblocktrans %}"><strong>{{ author.get_full_name }}</strong></a>
      {% if not forloop.last %}, {% endif %}
    {% endfor %}
    on {{ object.creation_date|date:"F d Y"|capfirst }}
  {% if user.is_staff %}[<a href="{{object.get_admin_url}}">edit</a>]{% endif %}
  </p>
</div>

<div class="entryBody last">
  {% if object.image %}
  <div class="entryImage">
    <p>
      <a href="{{ object.get_absolute_url }}">
  <img src="{{ object.image.url }}" alt="{{ object.title }}" class="left" />
      </a>
    </p>
  </div>
  {% endif %}
  <div class="entryContent">

    {% if object_content %}
      {{ object_content|safe }}
    {% else %}
      {{object.html_content|safe}}
    {% endif %}

  </div>
</div>

<div class="entryFooter">
  <p class="entryTags last">
    Topics:
    {% tags_for_object object as tag_list %}
    {% for tag in tag_list %}
    <a href="{% url tag-detail tag.name %}" title="Tag {{ tag }}">{{ tag }}</a>
    {% empty %}
    <span>{% trans "No tags" %}</span>
    {% endfor %}
  </p>
</div>


