{% extends "blog/base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block meta-description %}{% if object.excerpt %}{{ object.excerpt|striptags }}{% else %}{{ object.content|striptags|truncatewords:100 }}{% endif %}{% endblock %}

{% block link %}
  <link rel="alternate" type="application/rss+xml" title="Comments on {{ object.title }}" href="{% url entry-comment-feed object.slug %}" />
{% endblock %}

{% block content %}
	<div class="entry">
		<div id="like">
			<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2F{{SITE_DOMAIN}}{{request.get_full_path}}&amp;layout=button_count&amp;show_faces=true&amp;width=60&amp;action=like&amp;colorscheme=light&amp;height=21"
				scrolling="no"
				frameborder="0"
				style="border:none; overflow:hidden; width:100px; height:21px; float:right;"
				allowTransparency="true"></iframe>
		</div>
		{% with object.html_content|safe as object_content %}
	  		{% include "blog/_entry_detail.html" %}
	  	{% endwith %}
	</div>

	{% if DISQUS_SHORTNAME %}
  		{% include "comments/disqus.html" %}
	{% else %}
		{% with object as object_cached %}
			{% include "comments/entry_comments.html" %}
		{% endwith %}
	{% endif %}
{% endblock %}
