{% extends "blog/base.html" %}
{% load tagging_tags blog_tags blog_filters %}

{% block link %}
  {% if tag %}
    <link rel="alternate" type="application/rss+xml" title="RSS Entries about {{ tag.name }}" href="{% url tag-feed tag.name %}" />
  {% endif %}
  {% if author %}
    <link rel="alternate" type="application/rss+xml" title="RSS: Entries by {{ author.username }}" href="{% url author-feed author.username %}" />
  {% endif %}
{% endblock %}

{% block content %}
{% if tag %}
  <h1>Topic: {{ tag }}</h1>
{% endif %}

{% if author %}
  <h1>Entries by {{ author.get_full_name }}</h1>
{% endif %}

{% for object in object_list %}
<div class="entry last">
  {% with object|truncate_entry as object_content %}
  {% include "blog/_entry_detail.html" %}
  {% endwith %}
</div>
{% empty %}
  No entries.
{% endfor %}

{% if is_paginated %}
<div class="paginator last">
  <span class="index">
    Page {{ page_obj.number }} of {{ paginator.num_pages }}
  </span>
  {% if page_obj.has_previous %}
  <span class="previous">
    <a href="?page={{ page_obj.previous_page_number }}"
       title="More recent entries">&laquo;</a>
  </span>
  {% endif %}
  {% for page in page_range %}
  <span class="page {% ifequal page_obj.number page %}current{% endifequal %}">
    {% ifequal page_obj.number page %}
    <strong>{{ page }}</strong>
    {% else %}
    <a href="?page={{ page }}"
       title="Entries page {{ page }}">{{ page }}</a>
    {% endifequal%}
  </span>
  {% endfor %}
  {% if page_obj.has_next %}
  <span class="next">
    <a href="?page={{ page_obj.next_page_number }}"
       title="More old entries">&raquo;</a>
  </span>
  {% endif %}
</div>
{% endif %}
{% endblock %}


