{% extends "blog/base.html" %}
{% load blog_tags %}

{% block title %}Sitemap{% endblock %}

{% block content %}
<div class="montharchives">
  <h3>Monthly archives</h3>
  {% get_archives_entries %}
</div>

<div class="allentries">
	<h3>All entries</h3>
  <ul>
    {% for entry in entries %}
    <li>
      {{ entry.creation_date|date:"F d Y"|capfirst }} <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">{{ entry.title }}</a>
    </li>
    {% empty %}
    <li>
			No posts yet.
    </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}
