{% extends "blog/base.html" %}
{% load tagging_tags %}

{% block title %}Topics{% endblock %}

{% block content %}

<div class="articles">
  <div class="article">
    <h3>Browse Topics</h3>
    <div>
      <ul>
        {% for object in object_list %}
        <li>
          <a href="{% url tag-detail object.name %}" title="{{ object }}">{{ object }}</a>
          {% tagged_objects object in entry as tag_entries %}
	  {% with tag_entries|length as tag_count %}
            {{tag_count}} entr{{tag_count|pluralize:"y,ies"}}.
          {% endwith %}
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
